*.1 text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.rb.in text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.snap text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
.gitignore text eol=lf
Cargo.lock text eol=lf
LICENSE text eol=lf
debian/* text eol=lf
debian/rules text eol=lf
debian/tests/* text eol=lf
